@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Itim&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-pale-yellow text-dark-red;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  h1 {
    @apply text-4xl lg:text-5xl;
  }

  p {
    @apply text-lg;
  }
}

@layer components {
  .button-vivid-orange {
    @apply shadow-button-dark-red rounded-full bg-vivid-orange px-6 py-1.5 text-almost-white;
  }
  .button-dark-red {
    @apply shadow-button-orange-variant rounded-full bg-dark-red px-6 py-1.5 text-almost-white;
  }
  .form-with-dark-red-shadow {
    @apply shadow-form-dark-red mt-5 flex justify-between rounded-xl bg-almost-white p-3;
  }
  .form-with-orange-variant-shadow {
    @apply shadow-form-orange-variant mt-5 flex justify-between rounded-xl bg-almost-white p-3;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
